KZ/ 

Lab1/Photos/
!Lab1/Photos/Img1.jpg
!Lab1/Photos/Img2.jpg
!Lab1/Photos/Text1.jpg
!Lab1/Photos/Text2.jpg

Lab2/Results/
Lab2/trash.py
Lab2/trash2.py
Lab2/__pycache__

Lab3/Results/
Lab3/__pycache__

Lab4/.ipynb_checkpoints
Lab4/photos
Lab4/results/